body, html {
    background: #000;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.app--form-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    left: 0;
    right: 0;
    display: block;
    height: auto;
}

.app--form-wrapper .app--form {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    float: left;
    min-height: 10px;
    margin-bottom: 20px;
    border-radius: 2.5px;
}

.app--form-wrapper .app--form .app--input-group {
    width: 100%;
    float: left;
}

.app--form-wrapper .app--form .app--input-group-flex {
    width: 100%;
    display: flex;
    float: left;
}

.app--form-wrapper .app--form .app--input-group-flex button[type='button'],
.app--form-wrapper .app--form .app--input-group-flex button[type='submit'] {
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
}

.app--form-wrapper .app--form .app--input-group .input--label {
    width: 100%;
    color: #fff;
    line-height: 32px;
    float: left;
}

.app--form-wrapper .app--form .app--input-group .input--input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    float: left;
    border-radius: 2.5px;
    background-color: transparent;
    color: #fff;
    border: 2px dashed #fff;
    text-indent: 10px;
    font-size: 14px;
}


#map_wrapper {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    border: 2px dotted #fff;
}